{% extends 'layout.html' %}

{% block head %}

<head>
  <title>Adulteration</title>
  <style>
      #b4{
      background-color: gold;
      color: black;
      }
      #b6{
        background-color: gold;
        color: black;
      }
  </style>
</head>

{% endblock %}

{% block body %}

<body>
    <div class="container" style="margin-top: 13vh; margin-bottom: 53vh;">
      Toor Dal is one of the most commonly consumed lentils in India and is prone to adulteration with
       cheaper and potentially harmful substitutes like Khesari Dal. Adulteration of Toor Dal with Khesari Dal
        is a serious public health concern, as it contains a neurotoxin called ODAP
         (β-N-oxalyl-L-α,β-diaminopropionic acid) that can cause paralysis and other serious health issues if
          consumed in large amounts.<br><br>

      Toor dal adulteration is primarily motivated by financial incentives, lack of regulations, and
       inefficient enforcement. Businesses seek to reduce costs, increase profits and gain a competitive
        advantage through adulteration. Establishing quality requirements and enforcing penalties can deter
         adulteration. It is important to regularly inspect producers and ensure they follow regulations.
          Polluted toor dal poses health risks such as cancer and paralysis. Setting minimum pricing,
           regulatory frameworks and enforcement can guarantee customers receive high-quality toor dal.    
    </div>


</body>

{% endblock %}
